<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chzu.dao.TbGroupMapper">
  <resultMap id="BaseResultMap" type="com.chzu.model.TbGroup">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="gro_name" jdbcType="VARCHAR" property="groName" />
    <result column="gro_score" jdbcType="INTEGER" property="groScore" />
  </resultMap>
</mapper>